<template bindable="router">
    <require from="./navmenu.css"></require>
    <div class="main-nav">
        <div class="navbar navbar-inverse">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#/home">dotnet_aurelia</a>
            </div>
            <div class="clearfix"></div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li repeat.for = "row of router.navigation" class="${ row.isActive ? 'link-active' : '' }" >
                        <a href.bind = "row.href">
                            <span class="glyphicon glyphicon-${ row.settings.icon }"></span> ${ row.title }
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</template>
