﻿
<div class="row">
    <div class="col-md-2">
        &nbsp;
    </div>
    <div class="col-md-8">
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>Order ID</th>
                    <th>Terminal</th>
                    <th>Type</th>
                    <th>Product</th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="order in orders">
                    <td>
                        {{ order.orderID }}
                    </td>
                    <td>
                        {{ order.terminalName }}
                    </td>
                    <td>
                        {{ order.orderType }}
                    </td>
                    <td>
                        {{ order.shipperCity }}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="col-md-2">
        &nbsp;
    </div>
</div>
