﻿
<div class="row">
    <div class="col-md-3">
        &nbsp;
    </div>
    <div class="col-md-6">
        <div data-ng-show="authentication.useRefreshTokens">
            <button class="btn btn-lg btn-info btn-block" type="submit" data-ng-click="refreshToken()" data-ng-disabled="!authentication.userName && !authentication.useRefreshTokens">Welcome to QINO Next</button>
        </div>
        <!--<div data-ng-show="authentication.useRefreshTokens" style="margin-top:10px;">
            <div class="panel panel-success" data-ng-show="tokenRefreshed">
                <div class="panel-heading">
                    <h3 class="panel-title">Welcome to QINO Next</h3>
                </div>
            </div>
        </div>-->
    </div>
    <!--<div class="col-md-3">
        &nbsp;
    </div>-->
</div>